
    
.calendar {
    width: 400px;
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
}

  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
  }
  
  .weekdays {
    display: flex;
    justify-content: space-around;
    padding: 5px;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .day {
    text-align: center;
    padding: 12px;
    border: 1px solid #ccc;
  }